{% extends 'base.html.twig' %}
{% block title %} Symblog {% endblock %}

{% block body %}

<h1>{{ title }}</h1>

<p>
    Lorem ipsum dolor sit amet. Vel veniam dolore ut facere temporibus cum tempore nemo ut rerum
    laudantium ut asperiores expedita aut aperiam aspernatur. Ut mollitia harum qui magni dicta id dicta susci
    pit eum dolor ratione eum incidunt atque aut dolorum minus.
    Ad asperiores omnis ut ullam nulla et veritatis cumque id voluptas commodi quo autem ducimus est vero velit n
</p>

<p>
    Lorem ipsum dolor sit amet. Vel veniam dolore ut facere temporibus cum tempore nemo ut rerum
    laudantium ut asperiores expedita aut aperiam aspernatur. Ut mollitia harum qui magni dicta id dicta susci
    pit eum dolor ratione eum incidunt atque aut dolorum minus.
    Ad asperiores omnis ut ullam nulla et veritatis cumque id voluptas commodi quo autem ducimus est vero velit n
</p>


{% endblock %}